* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

h1{
  font-size: 2.6rem;
}

li,
button,
label,
input,
p,
textarea {
  border: none;
  font-size: 2rem;
}

input, textarea{
  padding: 0.25rem 1rem;
  border: #121c27 solid 1px;
  border-radius: 5px;
  resize: none;
}

h2 {
  font-size: 4.8rem;
}


h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

.btn-like {
  padding: 2rem 6rem;
  background: #4c6e97;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 0.25s ease;
  cursor: pointer;
}

.btn-like:hover {
  background: #121c27;
}

.error-message{
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 933px) {
  html {
    font-size: 62.5%;
  }
}